body{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(../Media/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.display{
    display: grid;
    grid-template-columns: 40% 60%;

}
.btn{
    float: right;
    border-radius: 63rem !important;
    box-shadow: 2px;
}